{% extends "base.html" %}
{% block content %}
<div class="container righteous text-center" style="max-width: 600px;">
    <h1 class="text-center pt-5">Bank</h1>
    <p class="text-center montserrat-alt">Developed by Mohit Patil.</p>
    <div class="row text-center panel">
        <div class="col-sm-6 col-12 my-2">
            <a class="text-center btn btn-block bg-primary text-white border-dark" href="/login">LogIn</a>
        </div>
        <div class="col-sm-6 col-12 my-2">
            <a class="text-center btn btn-block bg-primary text-white border-dark" href="/signup">SignUp</a>
        </div>
    </div>
</div>
{% endblock %}